.cardContainer {
	display: flex;
	flex-direction: column;
	background-color:#00BDAB;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.cardContainer:hover {
	transform: scale(1.05);
}