body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    color: #666;
    line-height: 1.5;
}


/*点击高亮我们需要清除清除  设置为transparent 完成透明*/

* {
    -webkit-tap-highlight-color: transparent;
}


/*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/

input {
    -webkit-appearance: none;
}


/*禁用长按页面时的弹出菜单*/

img,
a {
    -webkit-touch-callout: none;
}


/* css3 盒子模型 */

div {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    line-height: 0;
    visibility: hidden;
    height: 0;
    clear: both;
}

img {
    vertical-align: middle;
}

a {
    color: #666;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* 顶部 */

.app {
    height: 45px;
}

.app ul li {
    float: left;
    height: 45px;
    background-color: #333333;
    text-align: center;
    line-height: 45px;
    color: #fff;
}

.app ul li:nth-child(1) {
    width: 8%;
}

.app ul li:nth-child(1) img {
    width: 10px;
}

.app ul li:nth-child(2) {
    width: 10%;
}

.app ul li:nth-child(2) img {
    width: 30px;
    vertical-align: middle;
}

.app ul li:nth-child(3) {
    width: 57%;
}

.app ul li:nth-child(4) {
    width: 25%;
    background-color: #F63515;
}


/* 搜索 */

.search-wrap {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 44px;
    min-width: 320px;
    max-width: 640px;
}

.search-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 40px;
}

.search-btn::before {
    content: "";
    display: block;
    width: 20px;
    height: 18px;
    margin: 14px 0 0 15px;
    background-image: url(../images/s-btn.png);
    background-size: 20px 18px;
}

.search {
    position: relative;
    height: 32px;
    margin: 0 50px;
    border-radius: 15px;
    margin-top: 6px;
    background-color: #fff;
}

.jd-icon {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 20px;
    height: 15px;
    background: url(../images/jd.png) no-repeat;
    background-size: 20px 15px;
}

.jd-icon::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -8px;
    width: 1px;
    height: 15px;
    background-color: #ccc;
}

.search-login {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 40px;
    color: #fff;
    line-height: 44px;
}

.sou {
    position: absolute;
    top: 8px;
    left: 50px;
    width: 18px;
    height: 15px;
    /* 二倍精灵图 */
    background: url(../images/jd-sprites.png) no-repeat -81px 0;
    background-size: 200px auto;
}


/* banner */

.slider img {
    width: 100%;
}


/* 品牌日 */

.brand {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.brand div {
    float: left;
    width: 33.33%;
}

.brand div img {
    width: 100%;
}


/* 导航 */

nav {
    padding-top: 5px;
}

nav a {
    float: left;
    width: 20%;
    text-align: center;
}

nav a img {
    width: 40px;
    margin: 10px 0;
}

nav a span {
    display: block;
}


/* 新闻 */

.news {
    margin-top: 20px;
}

.news a {
    float: left;
    box-sizing: border-box;
}

.news img {
    width: 100%;
}

.news a:nth-child(1) {
    width: 50%;
}

.news a:nth-child(n+2) {
    width: 25%;
    border-left: 1px solid #ccc;
}