@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w1gjn8');
  src:  url('fonts/icomoon.eot?w1gjn8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w1gjn8') format('truetype'),
    url('fonts/icomoon.woff?w1gjn8') format('woff'),
    url('fonts/icomoon.svg?w1gjn8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-connection:before {
  content: "\e91b";
}
.icon-mic:before {
  content: "\e91e";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-happy:before {
  content: "\e9df";
}
.icon-cool:before {
  content: "\e9eb";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-ctrl2:before {
  content: "\ea51";
}
.icon-ctrl3:before {
  content: "\ea52";
}
.icon-cart:before {
  content: "\e93a";
}
